# Go binaries and test output
/bin
archive
*.test
*.out

# Local SQLite database
/archive.db*

# OS files
.DS_Store

# Personal notes
/docs/dev/

# Svelte UI
/ui/node_modules
/ui/dist

# Build output
/dist
